

body {
    font-family: "Raleway", "Sans serif";
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}



/****Logo Réservia*****/

.header {
    display: block;
    grid-template-areas: "logo";
    text-align: center;

}  

.headerImg {
    grid-area: logo;
    text-align: center;
    height: auto;
    width: 200px;
    padding: 0px;
    margin: 0px;
    object-fit: cover;
    color: #F2F2F2;
   
}


/*****Barre de Navigation*****/

.headerNav {
    display: flex;
    align-items: center;
    grid-area: navbar;
}

.headerNavLink {
    border-top: none;
    border-bottom: 3px solid #F2F2F2;
    border-top: 3px solid #F2F2F2;
    width: 50%;
    margin: 20px;
    margin-left: 120px;
}

.headerNavLink {
    text-align: center;
    padding: 32px;
    font-weight: 500;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
    transition-duration: 0.8s;
    text-decoration: double;
}
.headerNavLink:hover {
    border-bottom-color: #6f7886;
}
.headerNavLink[data-active=true] {
    color: #6f7886;
    text-decoration: double;
}

.headerNavLink:hover {
    color: #6f7886;
}

/*******************************************************/


.main {
    max-width: 1440px;
    margin: auto;
    box-sizing: border-box;
    padding: 0px 32px;
}

.searchHeader{
    height: 100px;
    width: 1420px;
    padding: 50px 50px 50px 10px;
    border: 2px solid #d9d9d96c;
    background-color:  #d9d9d96c;
    border-radius: 32px;
}

.searchHeaderTitle {
    margin-bottom: 8px;
    
    text-align: center;
    color: rgba(77, 76, 76, 0.808);
}

.searchHeader_Para {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 100px;
    color: rgba(77, 76, 76, 0.808);
    font-size: x-large;
}

/****Bouton Filtre****/

.searchFilters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: 52px;
    margin-left: 250px;
    position: relative;
}

.searchFiltersTitle {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0px 32px 16px 0px;
}

.search_MoreFilters {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    margin-right: 32px;
    padding: 5px 50px;
    border: 2px solid #d9d9d900;
    border-radius: 32px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.5s;
}

.search_MoreFilters:last-child {
    margin-right: 0px;
}

.search_MoreFilters:hover {
    transform: scale(1.0);
    background-color: #6f78865e;
}

.searchFilters_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    height: 48px;
    width: 48px;
    min-height: 56px;
    min-width: 56px;
    margin: -2px;
    background-color: #636cbb41;
}

.searchFilters_Icone {
    color: rgb(149, 149, 161);
}

.search_FilterTitle {
    margin: 0px 16px;
}

.Block_Conception{
    display: grid;
    row-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto ;
}


.BlockHeaderTitle{
    margin: 20px;
    padding: 20px 20px 0px 20px;
    font-size: x-large;
}
.Block_ConceptionImg{
    width: 500px;
    height: 600px;
    object-fit: initial;
    border-radius: 30px;
    margin: 0 auto;
    padding: 25px 0px 25px 25px;
}
.Block_para{
    display: flex;
    background-color: rgba(255, 255, 255, 0.712);
    width: 700px;
    height: 400px;
    align-items: center;
    margin: 100px auto;
    text-align: center;
    padding: 0px;
    margin-top: 100px;
    border-radius: 30px;
    margin-right: 155px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-justify: auto;
    text-justify: inter-word;
    color: #91b4ecfb;
}

.Block_para:hover
{
transition-duration: 2.5s;
color: #00358a;
}

.Block{
    text-align: center;
    width: 1480px;
    margin: 0px auto;
    background-color: #d9d9d96c;
    border: 2px #d9d9d900 ;
    border-radius: 30px;
}


/********************************/

.LastContainer {
    display: grid;
    column-gap: 32px;
    margin: 64px 0;
}

.LastContainerTitle {
    grid-column: 1/-1;
}

.LastContainerCard {
    display: flex;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 16px;
    overflow: hidden;
    flex-direction: column;
    transition-duration: 0.1s;
}

.LastContainerCard:hover {
    transform: scale(1.05);
}

.LastContainerCardBox {
    position: relative;
    flex: 1;
}

.LastContainerCardBoxImg {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.LastContainerCardTitle {
    margin: 19px 24px;
}



/******ACTIVITY******/


.LastContainerCard {
    box-shadow: 0 0 3px #0000002e;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.2s;
}

.LastContainerCard:hover {
    transform: scale(1.07);
}

.LastContainerCardBox {
    position: relative;
    margin: 20px;
    flex: 1;
}

.LastContainerCardBoxImg {
    
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#ContainerConception {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/1;
    display: grid;
    column-gap: 10px;
    margin: 34px 0px;
    border-radius: 30px;
    background-color:  #d9d9d96c;
    width: 1440px;
    height: 700px;
    padding: 20px;
   
}

.Original {
    grid-column: 1/1;
    grid-row: 1/6;
}
.Détaillé {
    grid-column: 2/3;
    grid-row: 1/6;
}
.Simplifié {
    grid-column: 3/3;
    grid-row: 1/6;

}



.LastContainer2 {
    display: grid;
    column-gap: 32px;
    margin: 64px 0;
}

.LastContainerTitle2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}

.LastContainerCard2 {
    display: flex;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 16px;
    overflow: hidden;
    flex-direction: column;
    transition-duration: 0.1s;
}

.LastContainerCard2:hover {
    transform: scale(1.05);
}

.LastContainerCardBox2 {
    position: relative;
    flex: 1;
}

.LastContainerCardBoxImg2 {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.LastContainerCardTitle2 {
    margin: 19px 24px;
}



/******ACTIVITY******/


.LastContainerCard2 {
    box-shadow: 0 0 3px #0000002e;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition-duration: 0.2s;
}

.LastContainerCard2:hover {
    transform: scale(1.07);
}

.LastContainerCardBox2 {
    position: relative;
    margin: 20px;
    flex: 1;
}

.LastContainerCardBoxImg2 {
    
    height: 100%;
    width: 100%;
    object-fit: cover;
}


#ContainerConception2 {
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/-1;
    display: grid;
    column-gap: 10px;
    margin: 34px 0px;
    border-radius: 30px;
    background-color:  #d9d9d96c;
    width: 1440px;
    height: 700px;
    padding: 20px;
   
}

.GitHubPara {

    margin: 10px;
    padding: 10px;
    background-color:#bdc4d371;
}
.GitKraKen {
    grid-column: 2/2;
    grid-row: 5/6;
}
.GitKraKenPara {
    grid-column: 2/1;
    grid-row: 5/6;
    margin: 10px;
    padding: 10px;
    background-color: #bdc4d371;
}

/*******************************************************/
.footer {
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/2;
    display: grid;
    column-gap: 10px;
    margin: 34px 0px;
    border-radius: 30px;
    background-color:  #d9d9d96c;
    width: 1440px;
    height: 150px;
    padding: 20px;
}

.openclassRoom{
    width: 170px;
    height: 100px;
}

.footerCol {
    display: grid;
    max-width: 200%;
    width: 1480px;
    margin: auto;
    padding: 0 32px;
    box-sizing: border-box;
 }

.footerColSub1 {
    
        grid-column: 2/2;
        grid-row: 1/2;
    }

.footerColSub2{

    grid-column: 1/4;
    grid-row: 2/2;
    align-items: center;
    align-content: center;
    text-align: center;
}

.footerColSub3{
    grid-column: 3/3;
    grid-row: 1/2;
}

#Cadre{
    background-color: #d9d9d96c;
    height: auto;
    width: 1480px;
    margin: 0px auto;
    padding: 0px;
    border-radius: 30px;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.CadreImg{
    margin: 20px;
    padding: 20px;
    height: 1500px;
    width: auto;
    border-radius: 30px;
    object-fit: unset;
}